<div class="row">
  <table id="tabletrips" class="table">
    <thead>
      <tr>
        <th scope="col">History</th>
        <th scope="col">Depart</th>
        <th scope="col">Arrival</th>
        <th scope="col">Estimated Arrival</th>
        <th scope="col">etc</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>France</td>
        <td>Lettonie</td>
        <td>12h56</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Lettonie</td>
        <td>France</td>
        <td>23h41</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Lettonie</td>
        <td>Russie</td>
        <td>07h65</td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  .btn {
    margin: 10px;
  }

</style>

<!-- Square Buttons Effects - END -->
