  <div class="row">
    <div id="btn_history" class="btn btn-block btn-dark p-4">
      <div class="row">
        <span class="badge col-2">
          <i class="fa fa-compass fa-4x"></i>
          </span>
          <span class="col-8 justify-content-center my-auto button-text">
            Lippaja - TRAVEMUNDE
          </span>
      </div>
    </div>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" colspan="1">X</th>
          <th scope="col" colspan="4">Lippaja - Travemunde</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">X</th>
          <th colspan="2"> Stena Flavis</th>
          <th colspan="2"> Scottish Viking </th>
        </tr>
        <tr>
          <th scope="row">X</th>
          <th>Atiet</th>
          <th> Pienak </th>
          <th> Atiet </th>
          <th> Pienak </th>
        </tr>
        <tr>
          <th scope="row">Pirmmdiena</th>
          <td> 23:34 </td>
          <td> 09:23 </td>
          <td> 10:23 </td>
          <td> 09:01</td>
        </tr>
        <tr>
          <th scope="row">Otrdiena</th>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> 15:56</td>
        </tr>
        <tr>
          <th scope="row">Tresdiena</th>
          <td> </td>
          <td> </td>
          <td> </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Ceturtdiena</th>
          <td> </td>
          <td> </td>
          <td> </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Piektdiena</th>
          <td> </td>
          <td> </td>
          <td> </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Sestdiena</th>
          <td> </td>
          <td> </td>
          <td> </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Svetdiena</th>
          <td> </td>
          <td> </td>
          <td> </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
