<div class="container">
  <div class="page-header">
    <div class="row my-4">
      <div class="col-6 col-lg-4">
        <a routerLink="/home" class="btn btn-block btn-secondary">
          <i class="fa fa-arrow-left fa-1px"></i>
          <br />
          Back
          <br />
        </a>
      </div>
      <div class="col-6 offset-lg-4 col-lg-4">
        <a routerLink="/home" class="btn btn-block btn-secondary">
          <i class="fa fa-home fa-1px"></i>
          <br />
          Menu
          <br />
        </a>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
