<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


</head>
<body>

<div class="container">

<div class="page-header">
			 <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#" class="btn btn-block btn-secondary">
                    <i class="fa fa-arrow-left fa-1px"></i>
                    <br />
                    Back
                    <br />
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
             <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#" class="btn btn-block btn-secondary">
                    <i class="fa fa-home fa-1px"></i>
                    <br />
                    Menu
                    <br />
                </a>
            </div>
    </div>
</div>


    <div class="row">
            <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Planned Time</th>
      <th scope="col">Estimated Arrival Time</th>
      <th scope="col">Estimated AT Real Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Current Trip</th>
      <td>1 hour</td>
      <td>2 hours</td>
      <td>2 hours</td>
    </tr>
  </tbody>
</table>
</div>

<style>
	.btn {
      margin: 10px;
	}
</style>

<!-- Square Buttons Effects - END -->

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>