<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Planned Time</th>
        <th scope="col">Estimated Arrival Time</th>
        <th scope="col">Estimated AT Real Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Current Trip</th>
        <td>1 hour</td>
        <td>2 hours</td>
        <td>2 hours</td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  .btn {
    margin: 10px;
  }

</style>

<!-- Square Buttons Effects - END -->
